.button {
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    padding: 21px 41px;
    border-radius: 45px;
    background-color: #FEDB3F;
    text-transform: uppercase;
    display: inline-block;
    color: black;
    text-decoration: none;
    border: none;
    text-transform: uppercase;

    &:hover {
        background: #FFD517;
    }

    &--theme--transparent {
        background: transparent;
        font-weight: normal;
        color: white;
        text-transform: none;
        font-size: 18px;
        line-height: 21px;

        &:hover {
            background: transparent;
            color: #FEDB3F;
        }
    }
}