@import "../blocks/media.scss";

html {
    font-size: $baseFontSize;

    @include phones {
        font-size: 2vmax;
    }
}

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
    line-height: 1.42;
    -webkit-font-smiithing: antialiased;
    -moz-osx-font-smoothink: grayscale;
    color: #666666;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 95%;
    max-width: 942px;
    margin: 0 auto;
    position: relative;
}

*{
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

input{
    outline: none;
}

p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}