.assortment__composition {
    margin-bottom: 2.888rem;
    position: relative;
    display: inline-flex;

    &:hover { 
        .assortment-composition__list {
        left: 100%;
        opacity: 1;
    }
    }

    @include tablets {
        display: none;
    }
}

.assortment-composition__list {
    position: absolute;
    top: 0;
    left: -9999px;
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0.222rem 0.222rem 2.222rem rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(2.222rem);
    border-radius: 0.222rem;
    padding: 0.944rem 0.666rem 1.166rem 1.111rem;
    min-width: 15.166rem;
    color: #000;
}

.assortment-composition__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.583rem;
    padding: 0.555rem 0.666rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.assortment-composition__button {
    background-color: #3A587E;
    border-radius: 0.222rem;
    padding: 0.944rem 0rem 0.666rem;
    display: inline-flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.assortment-composition__icon {
    width: 2.111rem;
    height: 2.111rem;
    margin-bottom: 0.388rem;
}

.assortment-composition__parametr-icon {
    max-width: 1.333rem;
    max-height: 1.333rem;
    flex-shrink: 0;
    margin-right: 0.666rem;
}

.assortment-composition__title {
    font-size: 0.777rem;
    line-height: 0.944rem;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 5.055rem;
}

.assortment-composition__desc {
    flex-shrink: 0;
    font-size: 0.888rem;
    font-weight: 500;
    line-height: 1.333rem;
}

.assortment-composition__text-params {
    flex-shrink: 0;
    margin-left: auto;
}