.assortment-section {
    background-color: #F8FAF9;
}

.assortment__slider {
    overflow: hidden;
}

.assortment__list {
    display: flex;
    position: relative;
    will-change: right;
    transition: right 0.3s;
}

.assortment__item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.assortment__photo {
    position: relative;
    flex-shrink: 0;
    width: 49%;
    margin-top: -0.888rem;

    @include tablets {
        margin-left: 8%;
    }

    @include phones {
        width: 63%;
        margin-bottom: 1.944rem;
    }

    /* &::before {
        content: "";
        position: absolute;
        left: -11px;
        top: 88px;
        display: block;
        width: 396px;
        height: 378px;
        background: url("../../img/bg-surf.png") center center / cover no-repeat;
    } */
}

.assortment__pic {
    width: 86%;
}

.assortment__content {
    width: 51%;

    @include tablets {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.assortment__title {
    font-size: 2rem;
    margin-bottom: 1.333rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #292929;

    @include tablets {
        font-size: 1.722rem;
        margin-bottom: 0.666rem;
        line-height: 2rem;
    }
}

.assortment__text {
    margin-bottom: 1.333rem;
    line-height: 1.25;
    padding-right: 20%;

    @include tablets {
        padding-right: 0;
        padding: 0px 14%;
    }

    @include phones {
        padding: 0px 10%;
        font-size: 1rem;
    }
}

.assortment__parameter {
    margin-right: 2.888rem;
    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0.722rem;
        &:last-child {
            margin-right: 0;
        } 
    }
}

.assortment__params {
    display: flex;
    line-height: 1.2;
    margin-bottom: 1.333rem;
}

.assortment__value {
    font-weight: bold;
    color: #000000;
}

.assortment__footer {
    display: flex;
    align-items: center;
}

.assortment__price {
    font-size: 3.333rem;
    color: #151515;
    line-height: 1;
    margin-right: 3.5rem;
    font-weight: 300;

    @include tablets {
        margin-right: 2.222rem;
    }

    @include phones {
        margin-right: 1.611rem;
    }
}