.benefits {
    display: flex;
    text-align: center;

    @include phones {
        flex-direction: column;
    }
}

.benefit {
    text-align: center;

    @include phones {
        display: flex;
        margin-bottom: 1.1rem;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    flex-direction: column;
    position: relative;

    @include phones {
        padding: 0;
        flex-direction: row;
        text-align: left;
        margin-bottom: 1.66rem;
    }

    &::before {
        content: url(../img/circle.png);
        position: absolute;
        top: 3.05rem;
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}

.benefit__img {
    margin-bottom: 1.11rem;
    
    @include tablets {
        margin-bottom: 0.8rem;
    }

    @include phones {
        margin-right: 2%;
        margin-bottom: 0;
    }
}

.benefit__img-wrapper {
    display: inline-block;
    width: 7.11rem;
    height: 7.11rem;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.benefit__icon {
    max-width: 3.77rem;
    max-height: 3.77rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-size: 1.5rem;
    line-height: 1.77rem;
    font-weight: bold;
    color: #292929;
    margin-bottom: 1.11rem;

    @include tablets {
        margin-bottom: 0.2rem;
    }

    @include phones {
        margin-bottom: 0.6rem;
    }
}

.benefit__desc {
    @include phones {
        font-size: 0.98rem;
        padding-right: 5%;
        line-height: 1.2rem;
    }
}