.contacts-number {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contacts-number__icon-elem {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}