.features {
    display: flex;
}

.features__item {
    margin-right: 1.88rem;

    &:last-child {
        margin-right: 0;
    }
}

.feature__icon {
    width: 1.94rem;
    height: 1.94rem;
    margin-right: 0.83rem;
    display: flex; 
    align-items: center
}

.feature__text {
    font-size: 0.88rem;
    font-weight: bold;
    width: 5rem;
}