.footer__container {
  width: 100vw;

  @include tablets {
    padding: 0 4%;
  }
}

.footer {
  height: 5.166rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;

  @include phones {
    height: 8.38rem;
  }
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.1rem;
  font-size: 1.166rem;
  line-height: 1.33rem;
  color: #292929;
  
  @include tablets {
    padding-top: 1.55rem;
  }

  @include phones {
    display: flex;
    flex-direction: column;
    padding-top: 1.1rem;
  }
}

.footer__col {
  align-items: center;
  justify-content: center;

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.4rem;
  }
}

.footer__col-right {
  padding-top: 1rem;

  @include tablets {
    padding-top: 0.7rem;
  }
}

.footer__contacts-number {
  font-weight: normal;
}

.footer__adress {
  margin-bottom: 0.4rem;

  @include phones {
    margin-bottom: 0.7rem;
  }
}