.title__form {
    color: #FFFFFF;
    margin-bottom: 61px;
}

.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 1.11rem;

    &:last-child {
        margin-right: 0;
        margin-left: 0.55rem;
    }
}

.form__row {
    display: flex;
    margin-bottom: 0.8rem;

    &--textarea {
        margin-bottom: 1.7rem;
    }
}

.form__block {
    flex: 1;
    margin-right: 0.8rem;

    &:last-child {
        margin-right: 0;
    }
}

.form__title{
    font-size: 1rem;
    line-height: 1.16rem;
}

.form__input {
    width: 100%;
    border: none;
    padding: 0.9rem 0.5rem;
    border: 3px solid transparent;
    border-radius: 0.22rem;

    &--textarea {
        height: 8.44rem;
        resize: none;
    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__control {
    display: flex;
    flex-wrap: wrap;
}

.form__buttons {
    margin-top: 1.27rem;
}