.title__form {
    color: #FFFFFF;
    margin-bottom: 61px;
}

.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
        margin-left: 10px;
    }
}

.form__row {
    display: flex;
    margin-bottom: 12px;

    &--textarea {
        margin-bottom: 32px;
    }
}

.form__block {
    flex: 1;
    margin-right: 11px;

    &:last-child {
        margin-right: 0;
    }
}

.form__title{
    font-size: 18px;
    line-height: 21px;
}

.form__input {
    width: 100%;
    border: none;
    padding: 18px 12px;
    border: 3px solid transparent;
    border-radius: 4px;

    &--textarea {
        height: 152px;
        resize: none;
    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__control {
    display: flex;
    flex-wrap: wrap;
}

.form__buttons {
    margin-top: 23px;
}