.headline {
    text-align: center;
    margin-bottom: 40px;
}

.headline__title {
    margin-bottom: 9px;
    text-align: center;

    &--reviews {
        margin-bottom: 25px;
    }
}

.headline__subtile {
    padding: 0 26%;
    font-size: 18px;
    line-height: 21,6px;
    font-weight: bold;
}
