.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contacts-number.header__contacts-number {
    @include tablets {
        display: none;
    }
}