.mobile__menu--overlay {
    display: flex;
    justify-content: center;
    margin-top: 6.2rem;
    z-index: 12;

    .mobile__menu__list {
  color: #fff;
  flex-direction: column;
  align-items: center;  
  text-align: center;
  line-height: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.mobile__menu__item {
    margin-right: 0;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.05rem;
&:last-child {
    margin-right: 0;
}
}

.mobile__menu__link {
    text-decoration: none;
    white-space: nowrap;
} 
 

.mobile__menu {
  margin: 0 30px;
  padding-top: 5px;

  @include tablets {
      display: none;
  }
 }
}  

