.modal{
    display: none;
}
  
.modal__content{
  background-color: #fff;
  padding: 0.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title{
  margin-bottom: 15px;
  color: #000;
}

.input-error{
  border-color: hotpink;
}

.error-modal {
  color: red;
}