.section {
    height: 100vh;
    min-height: 36.22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    @include section__title
}

.order-section {
    background: url(../img/background/form.png) top center / cover no-repeat;
    color: #fff;
}