.team {
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
    }
}

.team--version--desktop {
    display: flex;
    justify-content: space-between;
    min-height: 24.5rem;
    width: 100%;
}

.team__item {
    display: flex;
    flex-direction: column;
    margin-right: 1.11rem;

    &:last-child {
        margin-right: 0;
    }

    &--active {
        height: 4.5rem;
    }
}

.team__member {
    margin-bottom: 1.16rem;
}

.team__member-img {
    min-width: 12.22rem;
    min-height: 16.11rem;

    @include tablets {
        display: none;
    }

    &--content {
        display: none;

        @include tablets {
            display: block;
        };
    }
}

.team__title-icon {
    width: 0.5rem;
    height: 0.5rem;
}

.team__title-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.44rem;
    cursor: pointer;
}

.team__name {
    font-size: 1.17rem;
    line-height: 1.1;
    font-weight: bold;
    margin-right: 0.22rem;
}

.team__content {
    text-align: center;
    transition: height .3s;
    height: 0px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.team__content-block {
    position: absolute;
    top: 0;
    height: 4.5rem;
}

.team__title {
    color: #292929;
    font-weight: 400;
    margin-bottom: 0.22rem;
}

.team__desc {
    color: #666666;
    font-weight: 300;
    line-height: 1.2;
}
